<template>
  <div class="container">
    <div>
      <logo />
      <h1 class="title">
        a-fuego-lento-amp
      </h1>
      <h2 class="subtitle">
        A Fuego Lento AMP
      </h2>
      <div class="links">
        <a
          href="https://nuxtjs.org/"
          target="_blank"
          class="button--green"
        >
          Documentation
        </a>
        <a
          href="https://github.com/nuxt/nuxt.js"
          target="_blank"
          class="button--grey"
        >
          GitHub
        </a>
      </div>
    </div>
  </div>
</template>

<script>
import Logo from '~/components/Logo.vue'

export default {
  components: {
    Logo
  },
  head: function() {
    return {
      link: [
        {
          rel: 'canonical',
          href: '/index.html'
        }
      ]
    }
  }
}
</script>
